#conteudo {
    /*border: 1px solid rgb(246, 140, 140); */
    border-color: brown green yellow blue;
    border-width: 15px 10px;
    border-style: solid ridge;
}

.inline {
    border: 1px red solid;
    display: inline;
}
.bloco {
    border: 1px red solid;
}

/* tipos de borda: dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border */
/* 
o display tira a configuração em bloco */